/* Custom CSS for Quill Editor */
.quill-editor-gray .ql-container {
    background-color: #f5f5f5;
    /* Gray background */
    color: #000;
    /* Text color */
    border-radius: 4px;
}

.quill-editor-gray .ql-toolbar {
    background-color: #e0e0e0;
    /* Toolbar background */
    border-radius: 4px 4px 0 0;
}

/* Dark Mode */
.quill-editor-dark .ql-container {
    background-color: #333;
    /* Dark background */
    color: #fff;
    /* Light text color */
    border-radius: 4px;
}

.quill-editor-dark .ql-toolbar {
    background-color: #444;
    /* Dark toolbar background */
    border-radius: 4px 4px 0 0;
}

.quill-editor-dark .ql-toolbar button {
    color: #fff;
    /* Light icon color */
}

.quill-editor-dark .ql-toolbar button:hover {
    background-color: #555;
    /* Hover background */
}